<div id="flash" data-controller="notice" class="fixed top-5 right-5 max-w-xs z-50" data-notice-hide-timeout-value="5000">
  <% flash.each do |type, message| %>
    <div
      class="<%= flash_class(type) %> mb-4 p-4 rounded-lg shadow-lg flex justify-between items-center"
      data-notice-target="notice"
    >
      <span><%= message %></span>
      <button data-action="notice#dismiss" class="text-white">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
  <% end %>
</div>
